Redirect 301 /feed /feed.xml
Redirect 301 /consulting /consulting.html
Redirect 301 /games /games.html
Redirect 301 /free-code /open-source.html
Redirect 301 /press /press.html
Redirect 301 /about/richardlord /about/richardlord.html
Redirect 301 /dance/progressive /dance/progressive.html
Redirect 301 /dance/waterfall /dance/waterfall.html
Redirect 301 /presentations/application-frameworks-the-good-the-bad-and-the-ugly /presentations/application-frameworks-the-good-the-bad-and-the-ugly.html
Redirect 301 /presentations/application-frameworks-the-new-kids-on-the-block /presentations/application-frameworks-the-new-kids-on-the-block.html
Redirect 301 /presentations/choreographer-game-designer /presentations/choreographer-game-designer.html
Redirect 301 /presentations/game-architecture-is-different /presentations/game-architecture-is-different.html
Redirect 301 /presentations/open-source-is-for-life-not-just-for-christmas /presentations/open-source-is-for-life-not-just-for-christmas.html
Redirect 301 /presentations/particle-effects-with-flint /presentations/particle-effects-with-flint.html
Redirect 301 /presentations/physics-for-flash-games /presentations/physics-for-flash-games.html
Redirect 301 /presentations/so-many-frameworks-so-little-time /presentations/so-many-frameworks-so-little-time.html
Redirect 301 /presentations/transforming-the-designer-developer-workflow /presentations/transforming-the-designer-developer-workflow.html
Redirect 301 /press/freak-factory /freak-factory/press.html
Redirect 301 /press/intergalactic-delivery-driver /intergalactic-delivery-driver/press.html
Redirect 301 /press /press.html
Redirect 301 /blog/dance-on-the-web /dance/dance-on-the-web.html
Redirect 301 /blog/better-without-singletons /blog/actionscript/better-without-singletons.html
Redirect 301 /blog/create-your-own-weak-references-in-actionscript-3 /blog/actionscript/create-your-own-weak-references-in-actionscript-3.html
Redirect 301 /blog/different-types-of-weak-references /blog/actionscript/different-types-of-weak-references.html
Redirect 301 /blog/events-in-actionscript-2 /blog/actionscript/events-in-actionscript-2.html
Redirect 301 /blog/events-in-actionscript-3 /blog/actionscript/events-in-actionscript-3.html
Redirect 301 /blog/finite-state-machines-for-ai-in-actionscript /blog/actionscript/finite-state-machines-for-ai-in-actionscript.html
Redirect 301 /blog/list-loader-for-actionscript-2 /blog/actionscript/list-loader-for-actionscript-2.html
Redirect 301 /blog/object-pool-class /blog/actionscript/object-pool-class.html
Redirect 301 /blog/polling-the-keyboard-in-actionscript-3 /blog/actionscript/polling-the-keyboard-in-actionscript-3.html
Redirect 301 /blog/radial-perlin-noise /blog/actionscript/radial-perlin-noise.html
Redirect 301 /blog/simple-example-of-acceleration /blog/actionscript/simple-example-of-acceleration.html
Redirect 301 /blog/singleton-factory /blog/actionscript/singleton-factory.html
Redirect 301 /blog/the-i-in-interface /blog/actionscript/the-i-in-interface.html
Redirect 301 /blog/the-parentheses-operator /blog/actionscript/the-parentheses-operator.html
Redirect 301 /blog/20-tips-for-creating-air-native-extensions-for-ios /blog/air/20-tips-for-creating-air-native-extensions-for-ios.html
Redirect 301 /blog/using-the-ipad-retina-display-with-adobe-air /blog/air/using-the-ipad-retina-display-with-adobe-air.html
Redirect 301 /blog/seeing-whats-really-there /blog/choreography-games/seeing-whats-really-there.html
Redirect 301 /blog/what-makes-a-good-collaboration /blog/choreography-games/what-makes-a-good-collaboration.html
Redirect 301 /blog/360flex-san-jose /blog/conferences/360flex-san-jose.html
Redirect 301 /blog/back-from-flash-on-the-beach /blog/conferences/back-from-flash-on-the-beach.html
Redirect 301 /blog/flash-on-the-beach-09 /blog/conferences/flash-on-the-beach-09.html
Redirect 301 /blog/my-360flex-presentation /blog/conferences/my-360flex-presentation.html
Redirect 301 /blog/one-conference-two-presentations /blog/conferences/one-conference-two-presentations.html
Redirect 301 /blog/tryharder-level-up /blog/conferences/tryharder-level-up.html
Redirect 301 /blog/architecture-of-coral-vs-vector3d-and-matrix3d /blog/coral/architecture-of-coral-vs-vector3d-and-matrix3d.html
Redirect 301 /blog/bugs-in-vector3d-and-matrix3d /blog/coral/bugs-in-vector3d-and-matrix3d.html
Redirect 301 /blog/introducing-coral-an-actionscript-library-for-3d-math /blog/coral/introducing-coral-an-actionscript-library-for-3d-math.html
Redirect 301 /blog/performance-of-coral-vs-vector3d-and-matrix3d /blog/coral/performance-of-coral-vs-vector3d-and-matrix3d.html
Redirect 301 /blog/custom-context-menu-with-keyboard-shortcuts-in-flash /blog/flash/custom-context-menu-with-keyboard-shortcuts-in-flash.html
Redirect 301 /blog/flash-player-full-screen /blog/flash/flash-player-full-screen.html
Redirect 301 /blog/free-flash-preloader-components /blog/flash/free-flash-preloader-components.html
Redirect 301 /blog/protecting-a-swf /blog/flash/protecting-a-swf.html
Redirect 301 /blog/showing-dhtml-content-on-top-of-flash-content /blog/flash/showing-dhtml-content-on-top-of-flash-content.html
Redirect 301 /blog/so-what-are-adobe-up-to-with-flash /blog/flash/so-what-are-adobe-up-to-with-flash.html
Redirect 301 /blog/swfencrypt-from-flash-using-jsfl /blog/flash/swfencrypt-from-flash-using-jsfl.html
Redirect 301 /blog/accessing-the-component-instance-from-a-flex-skin /blog/flex/accessing-the-component-instance-from-a-flex-skin.html
Redirect 301 /blog/asdoc-for-mxml-components /blog/flex/asdoc-for-mxml-components.html
Redirect 301 /blog/moduleloader-applicationdomain /blog/flex/moduleloader-applicationdomain.html
Redirect 301 /blog/using-textfields-and-bitmaps-in-a-programmatic-skin /blog/flex/using-textfields-and-bitmaps-in-a-programmatic-skin.html
Redirect 301 /blog/flexcaster-cairngorm /blog/flex-mvc/flexcaster-cairngorm.html
Redirect 301 /blog/flexcaster-flex3 /blog/flex-mvc/flexcaster-flex3.html
Redirect 301 /blog/flexcaster-mate /blog/flex-mvc/flexcaster-mate.html
Redirect 301 /blog/flexcaster-parsley /blog/flex-mvc/flexcaster-parsley.html
Redirect 301 /blog/flexcaster-puremvc /blog/flex-mvc/flexcaster-puremvc.html
Redirect 301 /blog/flexcaster-robotlegs /blog/flex-mvc/flexcaster-robotlegs.html
Redirect 301 /blog/flexcaster-smartysignals /blog/flex-mvc/flexcaster-smartysignals.html
Redirect 301 /blog/flexcaster-spring /blog/flex-mvc/flexcaster-spring.html
Redirect 301 /blog/flexcaster-swiz /blog/flex-mvc/flexcaster-swiz.html
Redirect 301 /blog/casual-multiplayer-gaming /blog/game-design/casual-multiplayer-gaming.html
Redirect 301 /blog/monopoly-too-political-or-not-political-enough /blog/game-design/monopoly-too-political-or-not-political-enough.html
Redirect 301 /blog/teaching-game-design /blog/game-design/teaching-game-design.html
Redirect 301 /blog/the-choreography-of-monument-valley /blog/game-design/the-choreography-of-monument-valley.html
Redirect 301 /blog/if-i-had-more-time /blog/general/if-i-had-more-time.html
Redirect 301 /blog/most-people-are-good-people /blog/general/most-people-are-good-people.html
Redirect 301 /blog/my-first-two-weeks-as-an-indie-game-developer /blog/general/my-first-two-weeks-as-an-indie-game-developer.html
Redirect 301 /blog/the-ipad-is-not-a-computer /blog/general/the-ipad-is-not-a-computer.html
Redirect 301 /blog/visiting-google-and-how-we-behave-if-something-is-free-and-plentiful /blog/general/visiting-google-and-how-we-behave-if-something-is-free-and-plentiful.html
Redirect 301 /blog/dates-in-php-and-mysql /blog/php/dates-in-php-and-mysql.html
Redirect 301 /blog/if-you-want-to-create-avm2-swfs-from-php /blog/php/if-you-want-to-create-avm2-swfs-from-php.html
Redirect 301 /blog/managing-404-errors-in-the-zend-framework /blog/php/managing-404-errors-in-the-zend-framework.html
Redirect 301 /blog/php-mail-and-gmail /blog/php/php-mail-and-gmail.html
Redirect 301 /blog/php-nesting-level-too-deep-recursive-dependency /blog/php/php-nesting-level-too-deep-recursive-dependency.html
Redirect 301 /blog/php-password-security /blog/php/php-password-security.html
Redirect 301 /blog/zend_view-helpers-in-include-path /blog/php/zend_view-helpers-in-include-path.html
Redirect 301 /blog/test-the-interface-not-the-implementation /blog/tdd/test-the-interface-not-the-implementation.html
Redirect 301 /blog/why-write-the-unittest-first /blog/tdd/why-write-the-unittest-first.html
Redirect 301 /blog/actionscript-3-training-in-the-uk /blog/training/actionscript-3-training-in-the-uk.html
Redirect 301 /blog/theres-training-and-then-theres-training /blog/training/theres-training-and-then-theres-training.html
Redirect 301 /blog/creating-scriptableobjects-in-unity /blog/unity/creating-scriptableobjects-in-unity.html
Redirect 301 /blog/inversion-of-control-in-unity /blog/unity/inversion-of-control-in-unity.html
Redirect 301 /blog/a-whiff-of-christmas /blog/web-games/a-whiff-of-christmas.html
Redirect 301 /blog/best-soccer-game /blog/web-games/best-soccer-game.html
Redirect 301 /blog/finite-state-machines-with-ash /blog/ecs/finite-state-machines-with-ash.html
Redirect 301 /blog/introducing-ash /blog/ecs/introducing-ash.html
Redirect 301 /blog/linked-list-performance-test /blog/actionscript/linked-list-performance-test.html
Redirect 301 /blog/what-is-an-entity-framework /blog/ecs/what-is-an-entity-framework.html
Redirect 301 /blog/why-use-an-entity-framework /blog/ecs/why-use-an-entity-framework.html
Redirect 301 /blog/bubble-pack-becomes-freak-factory /freak-factory/blog/bubble-pack-becomes-freak-factory.html
Redirect 301 /blog/bubble-pack-my-first-indie-game /freak-factory/blog/bubble-pack-my-first-indie-game.html
Redirect 301 /blog/bubble-pack-update-gameplay /freak-factory/blog/bubble-pack-update-gameplay.html
Redirect 301 /blog/bubble-pack-update-monetisation /freak-factory/blog/bubble-pack-update-monetisation.html
Redirect 301 /blog/why-freak-factory /freak-factory/blog/why-freak-factory.html
Redirect 301 /blog/refactoring-the-meta-game-in-intergalactic-delivery-driver /intergalactic-delivery-driver/blog/refactoring-the-meta-game-in-intergalactic-delivery-driver.html
Redirect 301 /blog/taking-a-break /intergalactic-delivery-driver/blog/taking-a-break.html
